@model Player;
@{
    ViewData["Title"] = "Cadastro Pokemon Favorito";

    var viewBagList = ViewBag.ListPlayers;
}
<head>
    <meta charset="utf-8" />
    <title>PokéFan | Cadastre Seu Pokémon e Jogador Favorito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icones Css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body data-layout="horizontal" data-topbar="dark">
    <div class="container-fluid">
        <div id="layout-wrapper">
            <!--cabeçalho-->
            <header id="page-topbar">
                <nav class="navbar navbar-expand-md navbar-fixed-top main-nav navbar-header">
                    <div class="container">
                        <div class="navbar-collapse collapse nav-content order-2"></div>
                        <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
                            <li class="nav-item"><a href="#"><img src="/img/logo.png" alt="PokéFan" height="60"></a></li>
                        </ul>
                        <div class="ml-auto navbar-collapse collapse nav-content order-3 order-md-3"></div>
                    </div>
                </nav>
            </header>
            <!-- CONTEÚDO AQUI -->
            <div class="main-content">
                <div class="page-content">
                    <br /><br />
                    <!--INICIA ROW-->
                    <div class="row">
                        <!--coluna 1-->
                        <div class="col-lg-6">
                            <!--CARD BUSCA-->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Procure um Pokémon</h4>
                                    <p class="card-title-desc">
                                        Neste campo de busca insira o nome ou número na Pokédex do pokémon que deseja cadastrar em sua Base PokéFan.
                                    </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Nome Pokémon ou Número Pokédex</label>
                                                    <input class="form-control" type="text" id="buscarPokemon" placeholder="Exemplo: pikachu ou 25" required />
                                                </div>
                                                <div class="form-group">
                                                    <button id="validationCustom01" type="button" class="btn btn-primary" onclick="BuscarPokemon()">Buscar</button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!--FIM CARD BUSCA-->
                        </div>
                        <!-- coluna 2 -->
                        <div class="col-lg-6">
                            <!--CARD CADASTRO-->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Confirmação de Cadastro</h4>
                                    <p class="card-title-desc">Após a pesquisa, confira aqui se está tudo certo :)</p>
                                    <form asp-action="PokemonCadastro" asp-controller="CadastroPokemon" method="post">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group position-relative">
                                                    <label>Nome do Pokémon</label>
                                                    <input class="form-control" type="text" id="nomePokemonPreferido" asp-for="NomePokemonPreferido" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group position-relative">
                                                    <label>Número Pokedex</label>
                                                    <input class="form-control" type="text" id="numeroPokemonPreferido" asp-for="NumeroPokemon" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group position-relative">
                                                    <input class="form-group" type="text" id="urlImgPokemonPreferido" asp-for="UrlFotoPokemon" readonly hidden/>
                                                    <img src="/img/what.png" id="qr_img" alt="Pokemon" width=88 height=88>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="submit" id="pesquisarCadastrar">Cadastrar</button>
                                    </form>
                                </div>
                            </div>
                            <!--FIM CARD CADASTRO-->
                        </div>
                        <!-- fim coluna -->
                    </div>
                    <!-- fim row -->
                    <!--INICIO TABELA POKÉMON-->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Lista de Players e seu Pokémon favorito</h4>
                            <div class="table-responsive">
                                <table class="table table-centered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Idade</th>
                                            <th scope="col">Pokémon Favorito</th>
                                            <th scope="col">Nº Pokedex</th>
                                            <th scope="col">Imagem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Player player in viewBagList)
                                        {
                                            <tr>
                                                <th scope="row">@player.Id</th>
                                                <td>@player.Nome</td>
                                                <td>@player.Email</td>
                                                <td>@player.Idade</td>
                                                <td>@player.NomePokemonPreferido</td>
                                                <td>@player.NumeroPokemon</td>
                                                <td><img src="@player.UrlFotoPokemon" alt="@player.NomePokemonPreferido" width=90 height=90></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- FIM TABELA pokémon-->
                </div>
            </div>
        </div>
        <!--Footer-->
        <footer class="footer">
            <div class="container-fluid navbar-fixed-bottom">
                <div class="row">
                    <div class="col-sm-6">
                        <b>Dados atualizados: </b> @DateTime.Now
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            <a href="@Url.Action("About", "CadastroPokemon")">Documentação</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script type="text/javascript">
    var nomePokemon;
    var numeroPokemon;
    var urlImgPokemon;
    let txtPesquisaPokemon = document.getElementById("buscarPokemon");
    let txtNomePokemonPreferido = document.getElementById("nomePokemonPreferido");
    let txtNumeroPokemonPreferido = document.getElementById("numeroPokemonPreferido");
    let txtUrlImgPokemonPreferido = document.getElementById("urlImgPokemonPreferido");

    function alerta( title, mensagem) {
        Swal.fire({
            title: title,
            text: mensagem,
            imageUrl: './img/what.png',
            imageWidth: 100,
            imageHeight: 100,
            imageAlt: 'Custom image',
        })

        document.getElementById("buscarPokemon").value = "";

    }


    function BuscarPokemon() {

        if (txtPesquisaPokemon.value == "")
        {
            alerta("Campo não foi preenchidoI", "Digite o nome corretamente ou número Pokédex do pokémon desejado!");
        }
        else
        {

        let pokemon = txtPesquisaPokemon.value;

        let url = `https://pokeapi.co/api/v2/pokemon/${pokemon}`;
        fetch(url)
            .then(
                function (response) {
                    if (response.status === 404) {
                        //alert("Escolha outro pokemon ou digite o nome corretamente!");
                        alerta("Falha ao localizar Pokémon", "Escolha outro pokémon ou digite o nome ou numero Pokédex corretamente!");
                    }
                    else {
                        response.json()
                            .then(function (data) {
                                txtNomePokemonPreferido.value = data.name;
                                txtNumeroPokemonPreferido.value = data.id;
                                txtUrlImgPokemonPreferido.value = data.sprites.front_default;
                                nomePokemon = data.name;
                                numeroPokemon = data.id;
                                urlImgPokemon = data.sprites.front_default;
                                document.getElementById('qr_img').src = urlImgPokemon;
                                console.log(nomePokemon)
                                console.log(numeroPokemon)
                                console.log(urlImgPokemon)
                                console.log(txtNomePokemonPreferido.value)
                            })
                    }
                })

            .catch(error => console.log(error));
        }
    }



</script>